/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

.container {
    width: 800px;
    margin: 0 auto;
}

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;
}
.top-content .text-container p {
    width: 750px;
    height: 250px;
    margin: -200px 350px -50px -200px;
    padding: 200px;
    
}
.top-content .text-container h2 {
    margin-top: 20px;
}

.middle-content {
    width: 800px;
    margin: 0 auto;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.middle-content .boxes .box {
    width: 12.5%;
    height: 100px;
    background: pink;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-content {
    width: 800px;
    margin: 0 auto;
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

.bottom-content .text-container p {
    width: 190px; 
    height: 100px;
margin: 5px -250px 30px -105px;
}
.bottom-content .text-container h2 {
    margin: 0px -100px 10px -105px;
}

footer {
    width: 100%;
    background: black;
    margin: 0 auto;
}

footer nav {
    width: 65%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px 2%;
    font-size: 14px;
    
}




footer nav a {
    color: white;
    text-decoration: none;
}
 nav {
  width: 60%;
  display: flex;
  justify-content: space-between;
   
    padding: 20px 2%;
    font-size: 14px;
 
}


 footer nav a {
  color: white;
  text-decoration: none;
  

  
}


header nav {
    width: 35%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}
header nav a {
    color: black;
  text-decoration: none;
  margin: 0px -650px 30px 650px;
}

 img.lambda { 
    
    display: block;
    margin: 0px -680px 50px 290px;
  }
img.jumboimage {
    display: block;
    margin: 0 auto;
}
 



.middle-content .boxes .box.one {
  background: teal;
}
.middle-content .boxes .box.two {
  background: gold;
}

.middle-content .boxes .box.three {
  background: cadetblue;
}

.middle-content .boxes .box.four {
  background: coral;
}

.middle-content .boxes .box.five {
  background: crimson;
}

.middle-content .boxes .box.six {
  background: forestgreen;
}

.middle-content .boxes .box.seven {
  background: darkorchid;
}

.middle-content .boxes .box.eight {
  background: hotpink;
}

.middle-content .boxes .box.nine {
  background: indigo;
}

.middle-content .boxes .box.ten {
  background: dodgerblue;
}

header .about-page nav {
    width: 900px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;

}

header .about-page nav a {
margin: 50px -250px 50px -200px;
}
img.lambda2 {
    width: 150px;
    height: 35px;
    margin: 0px -150px 5px 300px;
}

img.jumboabout {
  display: block;
  margin: 0 auto;

}


.aboutsection .aboutdiv p {
  width: 780px;
  height: 100px;
  margin: 0 auto;
  border-bottom: 1px dashed black;
}
.aboutsection .aboutdiv h5 {
  margin: 25px 100px 5px 330px;
}
.aboutsection2 .strategyandhow{
  width: 100%;
  height: 500px;
  
}

.aboutsection2 .strategyandhow .textholder1  {
width: 390px;
height: 170px;
margin: -40px 50px 0px 320px;
border-bottom: 1px dashed black;
}
.aboutsection2 .strategyandhow .textholder2  {
  width: 390px;
  height: 174px;
  margin: -175px 50px 0px 750px;
  border-bottom: 1px dashed black;
  }
  .aboutsection2 .strategyandhow .imageone {
    margin: 50px 5px 50px 320px;
  }
  .aboutsection2 .strategyandhow .imagetwo {
    margin: -200px 50px 50px 50px;
  }

  .aboutsection2 .strategyandhow .textholder1 button {
    border: solid 2px black;
    border-radius: 10px;
    padding: 10px;
    height: 45px;
    margin: 10px 0px 0px 0px;
  }
  
  .aboutsection2 .strategyandhow .textholder2 button {
    border: solid 2px black;
    border-radius: 10px;
    padding: 10px;
    height: 45px;
    margin: 10px 0px 0px 0px;
  }

  .aboutsection3 .placesweworkandcollab .imgthree {
    margin: 26px 5px 0px 305px;
  }

  .aboutsection3 .placesweworkandcollab .imgfour {
    margin: -4300px 5px 195px 750px;
  }

  .aboutsection3 .placesweworkandcollab .textholder3 {
  height: 170px;
  width: 390px;
  margin: 10px 0px 0px 320px;
  border-bottom: 1px dashed black;
  }

  .aboutsection3 .placesweworkandcollab .textholder4 {
    height: 170px;
    width: 390px;
    margin: -185px -100px 200px 750px;
    border-bottom: 1px dashed black;
    
  }

  .aboutsection3 .placesweworkandcollab .textholder3 button {
    border: solid 2px black;
    border-radius: 10px;
    padding: 10px;
    height: 45px;
    margin: 10px 0px 0px 0px;
  }

  .aboutsection3 .placesweworkandcollab .textholder4 button {
    border: solid 2px black;
    border-radius: 10px;
    padding: 10px;
    height: 45px;
    margin: 10px 0px 0px 0px;
  }

  .letsworktogethersec .worktogethertextholder {
width: 800px;
margin: -150px 300px 40px 337px;
  }
  .studyanswers {
    
    font-size: 20px;
    
    border: 5px dotted pink;
  }

  div.containfooter footer {
    width: 800px; 
  
  }